.container{
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 40%;
    width: 100%;
    height: 110px;
    background-color: var(--dark-green);
    color: #EAE0C8;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 7%;
    user-select: none;
    direction: rtl;
}

.links_container{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 75%;
    direction: rtl;
}

.link{
    transition: .2s;
    height: 26px;
    direction: rtl;
    text-align: center;
}

.l1 {
    width: 15.5%;
}

.l2 {
    width: 13%;
}

.l3 {
    width: 10%;
}

.link:hover{
    color: var(--dark-orange);
    font-size: 18px;
}

.little_brain{
    position: relative;
    left: 0;
    top: 0;
}

@media only screen and (max-width: 1000px) {
    .container{
        padding-right: 35%;
    }
}