@font-face {
    font-family: 'IranSans';
    src: url('./IRANSans/IRANSansUltraLight.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'IranSans';
    src: url('./IRANSans/IRANSansLight.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'IranSans';
    src: url('./IRANSans/IRANSansNormal.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IranSans';
    src: url('./IRANSans/IRANSansMedium.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'IranSans';
    src: url('./IRANSans/IRANSansBold.ttf');
    font-weight: 800;
}